* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


button {
  display: block;
  margin: 20px auto;
  background: crimson;
  color: white;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 5px;
}

.poupup-wrapper {
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  font-family: arial;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 2rem;
  background: white;
  position: relative;
  border: 1px solid #000;
  border-radius: 15px;
}

.popup a {
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none;
  background-color: crimson;
  border-radius: 5px;
}

.popup p {
  padding: 1rem 0;
}

.popup h2 {
  margin: 0 1rem;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ff0000;
}

.d-none {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

.d-block {
  /* display: block; */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: all 0.5s ease-in;
}

.disabled{
  background-color: rgb(82, 79, 79);
}